/*Navigation*/ 

.navbar {
  background-color: #F9DCDC;
  height: fit-content;
}
.nav-item a {
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  color: #59656F;
  font-size: 20px;
}

.nav-item a:hover {
  color: #DC0073;  
  text-decoration: underline;
  text-decoration-thickness: 5px;

}
.logo {
  color: #59656F;
  font-weight:500;
  font-size: 60px;
  font-family: Montserrat, sans-serif;
  letter-spacing: 16px;
}
.logo:hover {
  color: #DC0073;  
  text-decoration: none;
}
  
  /*main*/
  
  body {
    background-color:#F9DCDC;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "photoCindy aboutMe";
  }
  
  .photoCindy { 
    grid-area: photoCindy; 
  }
  
  .ellipseCindy {
    width: 30vw;
    margin-left: 5vw;
    margin-top: 5vw;
  }
  .aboutMe {
    grid-area: aboutMe; 
    margin-left: -10vw;
    margin-top: 5vw;
    width: 50vw;
    text-align: justify;
    /*display: block;
    margin-left: auto;
    margin-right: auto;*/
  }
  .aboutMe p {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    color: #001858;
    text-align: justify;
  }
  .aboutMe h4 {
    color: #DC0073;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    text-align: left;
  }
  .resume, .getinTouch {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    color: #DC0073;
    text-align: center;
  }
  a:hover {
    color:#59656F;
    text-decoration: none;
  }
  
  .links{
    margin-bottom: 10%;
    text-align: center;
  }
  
footer {
  height: 20vw;
  background-color: #3D5A80;
  display: flex;
  align-items: center;
}

.footerText, .footerIcons {
  margin-left: 12vw;
}
.footerText h1 {
  color: white;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  letter-spacing: 0.8px;
}

.footerText p {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.footer-link {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-right: 2vw;
}

.footer-link:hover {
  color: #DC0073;
  text-decoration: none;
}

.navbarCopyright {
  background-color: #3D5A80;
}
.copyright {
  margin-left: 12vw;
  color: white;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
}

@media screen and (max-width: 992px) {
  .ellipseCindy {
    width: 100%;
    display: block;
  }

@media screen and (max-width: 600px) {

  /*.grid-container {
    display: inline-block;
  }*/
  .photoCindy {
    width: 100%;
    float:left;
  }
  .ellipseCindy{
    width: 100%; 
    float: left;
  }
  .aboutMe {
    width: 100%;
    position:relative;
  }

  footer {
    display: flex;
    align-items: center;
  }
}
