/*Navigation*/ 

.navbar {
    background-color: #F9DCDC;
    height: fit-content;
  }
  .nav-item a {
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    color: #59656F;
  }
  
  .nav-item a:hover {
    color: #DC0073;  
  }
  .logo {
    color: #59656F;
    font-weight:500;
    font-size: 60px;
    font-family: Montserrat, sans-serif;
    letter-spacing: 16px;
  }
  .logo:hover {
    color: #DC0073;  
    text-decoration: none;
  }
  
  
  /*main*/
  
  body {
      background-color:#F9DCDC;
      }
  .ellipseCindy {
    width: 35vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vw;
  }
  
  .AboutMe {
    width: 800px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .AboutMe p {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    color: #001858;
    text-align: justify;
  }
  .AboutMe h4 {
    color: #DC0073;
    font-family: Montserrat, sans-serif;
    font-size: 26px;
    padding: 2%;
  }
  .resume, .getinTouch {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    color: #DC0073;
  }
  a:hover {
    color:#59656F;
    text-decoration: none;
  }
  
  .links{
    margin-bottom: 10%;
  }
  
  
  /*.Container {
      font-size: 20px;
      text-align: center;
      width: 1000px;
      margin: 0 auto;
         
    }
    .photoCindy {
      float: left;
      width: 400px;
      margin-top: 50px;
      margin-left: -30px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  
    .AboutMe {
      float: right;  
      margin-bottom: 100px;
      margin-top: 40px;
      margin-left: 10px;
      width: 500px;
    }
  
    .AboutMe h4 { 
      color: #6E7A87;
      font-family: 'merriweather';
    }
      
    .AboutMe p {
      color: #879596;
      font-family: 'merriweather';
      font-size: 20px;
      font-weight: 100;
      text-align: justify;
      display: inline;
    }
  
    .AboutMe a {
      color: 6E7A87;
      font-family: 'merriweather';
      text-decoration: none;
    }
    .AboutMe a:hover {
      color: white;
    }
  
    .resume, .getinTouch {
        color: #6E7A87;
    }
  
/*footer*/

footer {
  height: 20vw;
  background-color: #3D5A80;
  display: flex;
  align-items: center;
}

.footerText, .footerIcons {
  margin-left: 12vw;
}
.footerText h1 {
  color: white;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  letter-spacing: 0.8px;
}

.footerText p {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.footer-link {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-right: 2vw;
}

.footer-link:hover {
  color: #DC0073;
  text-decoration: none;
}

.navbarCopyright {
  background-color: #3D5A80;
}
.copyright {
  margin-left: 12vw;
  color: white;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
}